/* styling body */
body{
    background-color: rgb(41, 110, 87);
    font-size: 1rem;
    line-height: 1.5;
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 50%;
}
/* styling the genral div */
#Verse-body{
    background-color: rgb(142, 208, 195);
    box-shadow: 5px 10px 18px #1e2325;
    width: 65%;
    margin: 20px auto;
    text-align: center;
}

#cover{
    display: inline-flex;
    margin-left: 10px;
    margin-top:10px;
}

/* Styling display results div */
#display-result{
background-color:white;
box-shadow: 5px 10px 18px #5c6970;
align-items: center;
padding: 1px auto;
min-width: 32%;
}

#previous-result{
    background-color: rgb(221, 219, 219);
    box-shadow: 5px 10px 18px #313232;
    min-width: 66%;
    margin-left: 3px;
    margin-right: 5px;
}

#shareDiv{
    margin-top: 5px;
}

.header{
    display: inline-flex;
    margin-right: 40px;
}


.logo{
    width: 60px;
    height: 60px;
    margin-right: 50px;
    
    }

h1{
   color: coral;
   font-family: "Gill Sans Extrabold", sans-serif;
   text-shadow: 2px 2px #ff0000;

}

h3{
    color: coral;
    font-family: cursive;
}
p{
    color: rgb(90, 90, 29);
    font-size: 20px;
}
.guide{ 
    list-style: none;
    font-style: italic;
}

#user-input{
    font-size: 16px;
    font-family: Lucida Console;
}

.shareButton{
   margin-left: 0px;
}